<!--<section>-->
<!--    <div class="container">-->
<!--        <ng-container *ngIf="marsRoverPhotoData; else marsRoverPhotoDataNotLoaded">-->
<!--            <div class="row text-center">-->
<!--                <div class="col my-3">-->
<!--                    <h1 class="display-6">Mars Rover Photos</h1>-->
<!--                    <hr>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <ng-container *ngFor="let marsRoverPic of marsRoverPhotoData">-->
<!--                    <div class="col">-->
<!--                        <div class="card mb-3">-->
<!--                            <img [alt]="marsRoverPic.camera.name" [src]="marsRoverPic.img_src" class="card-img-top">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Rover - {{marsRoverPic.rover.name}}</h5>-->
<!--                                <p class="card-text">Rover camera - {{marsRoverPic.camera.name}}</p>-->
<!--                                <p class="card-text"><small class="text-muted">Taken on - {{marsRoverPic.earth_date}}</small></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ng-container>-->
<!--            </div>-->
<!--        </ng-container>-->
<!--        <ng-template #marsRoverPhotoDataNotLoaded>-->
<!--            <div class="row vh-70 text-center justify-content-center align-items-center">-->
<!--                <div class="col p-5">-->
<!--                    <div class="spinner-border text-danger p-5" role="status">-->
<!--                        <span class="visually-hidden">Loading...</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--    </div>-->
<!--</section>-->
<section>
    <div class="container">
        <div class="row text-center">
            <div class="col my-3">
                <h1 class="display-6">Astronomy Picture of the Day</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [alt]="astronomyData.title" [src]="astronomyData.hdurl"
                                 class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{astronomyData.title}}</h5>
                                <p class="card-text">{{astronomyData.explanation}}</p>
                                <p class="card-text"><small class="text-muted">{{astronomyData.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>