<footer class="bg-dark">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <p class="text-center text-light m-0">
                    Created with
                    <fa-icon [icon]="['fas', 'beer']" [styles]="{'color' : '#FFA846'}" class="px-2" size="2x"></fa-icon>
                    in
                    <fa-icon [icon]="['fas', 'hands']" [styles]="{'color' : '#EDB29D'}" class="px-2"
                             size="2x"></fa-icon>
                </p>
            </div>
        </div>
    </div>
</footer>

