/* You can add global styles to this file, and also import other style files */

/**
For attaching footer at the bottom of every screen
 */
body {
  min-height: 100vh;
  margin: 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 130px;
  }
}
